#section-planos {
    width: 100%;
    min-height: 600px;
    background-color: #ffffff;
}

#div-content-planos {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    align-items: center;
}

#span-texto-heading-planos {
    font-size: 50px;
    font-family: "Alumni Sans";
}

#div-box-cards-plano {
    padding-top: 30px;
    display: flex;
    gap: 25px;
}

.div-card {
    width: 310px;
    height: 800px;
    padding: 50px;
    border: 1px solid #4d425f;
    border-radius: 5px;
}

.div-header-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-container-nome-card {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.span-nome-card {
    font-size: 30px;
    text-align: center;
}

.span-descricao-plano-card {
    font-size: 16px;
    text-align: center;
}