/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Noto+Sans:wght@800&family=Oxygen:wght@700&display=swap');

body {
    margin: 0;
    border: 0;
    padding: 0;
}

#header-painel {
    width: 100%;
    height: 500px;
}

#div-container-header-painel {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to left, #925cef, #7b47d2, #6333b6, #4c1e9b, #350781);
}

#div-container-menu-painel {
    width: 900px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#div-container-logo {
    width: 100px;
    height: 60px;
    display: flex;
}

#div-container-btn-sair {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

#span-btn-previous {
    font-family: 'Comfortaa';
    color: #ffffff;
    font-weight: bold;
}

#div-container-texto {
    width: 900px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#span-texto-bem-vindo-painel {
    font-family: 'Comfortaa';
    font-size: 50px;
    color: #ffffff;
}

#div-container-float-menu {
    width: 900px;
    height: 300px;
}

#div-container-card-float-menu {
    display: flex;
    position: absolute;
    gap: 5px;
}

.div-card-float-menu {
    width: 200px;
    height: 250px;
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    overflow: hidden;
}

.div-body-card-float-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
    height: 100%
}

.div-container-icon {
    width: 50px;
    height: 50px;
}

.div-container-texto {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
}

.span-texto-card-float-menu {
    font-family: 'Comfortaa';
    font-size: 17px;
    font-weight: bold;
}

.div-card-hover {
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-card-ativo{
    width: 100%;
    height: 10px;
}

.div-card-float-menu:hover .div-card-ativo {
    width: 100%;
    background-color: #6c19ff;
    animation: line-card 0.5s ease-in;
}

@keyframes line-card {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}